html {
    margin: 0 auto
}
body {
    background-color: black;
    color: white;
    display: felx;
    justify-content: center;
    align-items: center;
}

pre {
    margin: 0 auto;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;

}
a:hover {
    color: blue
}

.responsive-video{
	width: 100%;
	height: 100vh;
	aspect-ratio: 16/9;
}